<style>
  #map-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    overflow: hidden;
  }

  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .app-store-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 1rem;
  }

  #google-play-btn,
  #apple-store-btn {
    width: 100%;
  }

  #google-play-btn img,
  #apple-store-btn img {
    max-width: 100%;
    height: auto;
  }
</style>

<h3 id="routeName"></h3>
<h4>{{callToAction}}</h4>
<div class="app-store-buttons">
  <a href="{{googlePlayUrl}}" id="google-play-btn">
    <img src="{{googlePlayImage}}" alt="Descargar en Google Play">
  </a>
  <a href="{{appleStoreUrl}}" id="apple-store-btn">
    <img src="{{appleStoreImage}}" alt="Descargar en la App Store">
  </a>
</div>
<div id="map-container">
  <div id="map"></div>
</div>

<script>
  const map = L.map('map').setView([0, 0], 13);
  const mapId = '{{mapId}}';
  const apiUrl = '{{apiUrl}}';

  const query = `
      query parking($id: String!) {
        pattern(id: $id) {
          route {
            id, shortName, longName
          },
          geometry {
            lat, lon
          }
        }
      }
    `;

  const variables = {
    id: mapId,
  };

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://trufi.app">Trufi Association</a> contributors',
  }).addTo(map);

  fetch(apiUrl, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
    },
    body: JSON.stringify({
      query,
      variables,
    }),
  })
    .then((response) => response.json())
    .then((data) => {
      const coordinates = data.data.pattern.geometry.map((point) => [point.lat, point.lon]);
      const polyline = L.polyline(coordinates, {
        color: '{{lineColor}}',
        weight: '{{lineWeight}}'
      }).addTo(map);

      map.fitBounds(polyline.getBounds());
      document.querySelector('#routeName').innerHTML = `${data.data.pattern.route.longName} - {{pageTitle}}`;
    })
    .catch((error) => {
      console.error('Error fetching data:', error);
    });
</script>